/*----------GENERAL CSS----------*/

body {
    background-color: #323030;
    font-family: Inter;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -8px;
    margin-top: 8px;
}

.columncontainer h3 {
    font-family: Red+Hat+Display;
    font-size: 13px;
    padding: 0px;
}

/*----------GENERAL DESKTOP----------*/

@media (min-width: 1000px) {
    button {
        background-color: black;
        color: #E3BF05;
        border: none;
        border-radius: 8px;
        font-family: Inter;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
    }
}

/*----------GENERAL MOBILE----------*/

@media (max-width: 999px) {
    button {
        background-color: black;
        color: #E3BF05;
        border: none;
        border-radius: 4px;
        font-family: Inter;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 11px;
    }
}

/*---------- NAVBAR DESKTOP ----------*/

@media (min-width: 1337px) {
    .navbar {
        margin: -8px;
        height: 100px;
        background-color: #E3BF05;
        display: flex;
        justify-content: space-evenly;
    }

    .navbar div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar img {
        float: left;
    }

    .navbar h2 {
        float: left;
        margin-left: 10px;
        font-size: 30px;
    }

    .navbar input[type=text] {
        background-image: url('icons/search.png');
        background-repeat: no-repeat;
        background-position: 11px 9px;
        padding-left: 40px;
        border: 2px solid black;
        height: 40px;
        width: 350px;
        border-radius: 40px;
        font-size: 16px;
    }

    .navbar input:focus {
        outline-width: 0px;
    }

    .menudiv {
        margin-left: 30px;
    }

    .searchdiv {
        margin-left: 30px;
    }

    .searchimg {
        width: 0px;
        overflow: hidden;
    }

    .logodiv {
        margin: auto;
        align-self: center;
        height: 100px;
    }

    .logo {
        font-family: Anton;
        font-size: 78px;
    }

    .imdbprodiv {
        padding-left: 63.96px;
        margin-right: 40px;
    }

    .imdbpro {
        font-family: Anton;
        font-size: 30px;
    }

    .watchlistdiv {
        margin-right: 30px;
    }

    .profilediv{
        margin-right: 30px;
    }
}

/*---------- NAVBAR MOBILE ----------*/

@media (max-width: 1336px) {
    .navbar {
        margin: -8px;
        height: 70px;
        background-color: #E3BF05;
        display: flex;
        justify-content: space-evenly;
    }

    .navbar div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar img {
        float: left;
    }

    .navbar h2 {
        float: left;
        margin-left: 10px;
        font-size: 0px;
    }

    .navbar input[type=text] {
        background-image: url(NULL);
        background-color: #E3BF05;
        background-repeat: no-repeat;
        background-position: 11px 10px;
        padding-left: 0px;
        padding-right: 0px;
        border: 0px solid black;
        height: 0px;
        width: 0px;
        border-radius: 0px;
        font-size: 0px;
    }

    .menudiv {
        margin-right: -5px;
        margin-left: 20px;
    }

    .searchdiv {
        margin-left: 15px;
    }

    .searchimg {
        width: 25px;
        cursor: pointer;
        margin-right: 24px;
    }

    .logodiv {
        margin: auto;
        align-self: center;
        height: 70px;
    }

    .logo {
        font-family: Anton;
        font-size: 54px;
    }

    .imdbprodiv {
        margin: 0px;
    }

    .imdbpro {
        font-family: Anton;
        font-size: 0px;
    }

    .watchlistdiv {
        margin-right: 15px;
    }

    .profilediv{
        margin-right: 15px;
    }
}

/*----------INDEX DESKTOP----------*/

@media (min-width: 1000px) {
    .latestnewsdiv {
        display: grid;
        width: 940px;
        height: 482px;
        margin-top: 30px;
        grid-template-columns: 650px 280px;
        grid-template-rows: 50px 135px 135px 135px;
        grid-row-gap: 9px;
        grid-column-gap: 10px;
    }

    .whattowatchdiv {
        display: grid;
        width: 940px;
        height: 349px;
        margin-top: 30px;
        margin-bottom: 30px;
        grid-template-columns: 150px 150px 150px 150px 150px 150px;
        grid-template-rows: 50px 290px;
        grid-column-gap: 8px;
        grid-row-gap: 9px;
    }

    .whattowatchdiv h3 {
        height: 25px;
        margin-top: 3px;
        font-size: 13px;
    }

    .newstitlediv {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsdivmain {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
        background-color: #E3BF05;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Red+Hat+Display;
        font-size: 16px;
    }

    .newsdivmain h2 {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .newsmainimg {
        width: 630px;
    }

    .newsotherimg {
        width: 77px;
    }

    .newstitle {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .newstext h3 {
        display: inline wrap;
        font-size: 14px;
    }

    .newsdiv1 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsdiv2 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsdiv3 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newstext {
        width: 180px;
        padding-left: 7px;
        font-size: 14px;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: start;
        flex-direction: column;
    }
    
    .whattowatchtitlediv {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .moviediv {
        background-color: #E3BF05;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .postersize {
        width: 120px;
    }

    .buttonsdiv {
        height: 52px;
        width: 124px;
        display: grid;
        grid-template-columns: 69px 51px;
        grid-template-rows: 24px 24px;
        grid-gap: 4px;
    }
    
    .trailerbutton {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .ratingbutton {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .ratingstar {
        margin-right: 4px;
    }
    
    .watchlistbutton {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

/*----------INDEX MOBILE----------*/

@media (max-width: 999px) {
    .latestnewsdiv {
        display: grid;
        width: 368px;
        height: 459px;
        margin-top: 25px;
        grid-template-rows: 36px 262px 43px 43px 43px;
        grid-gap: 8px;
    }

    .whattowatchdiv {
        display: grid;
        width: 368px;
        height: 508px;
        margin-top: 25px;
        margin-bottom: 30px;
        grid-template-columns: 118px 118px 118px;
        grid-template-rows: 36px 228px 228px;
        grid-column-gap: 7px;
        grid-row-gap: 8px;
    }

    .whattowatchdiv h3 {
        height: 22px;
        margin-top: -1px;
        font-size: 13px;
    }

    .newstitlediv {
        grid-row: 1 / 2;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsdivmain {
        grid-row: 2 / 3;
        background-color: #E3BF05;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Red+Hat+Display;
        font-size: 16px;
    }

    .newsdivmain h2 {
        font-size: 20px;
        margin-top: 1px;
        margin-bottom: 3px;
    }

    .newsmainimg {
        width: 357px;
        margin-top: 2px;
    }

    .newsotherimg {
        width: 0px;
    }

    .newstitle {
        margin-top: 0px;
        margin-bottom: 1px;
    }

    .newstext h3 {
        display: inline wrap;
        font-size: 14px;
    }

    .newsdiv1 {
        grid-row: 3 / 4;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsdiv2 {
        grid-row: 4 / 5;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsdiv3 {
        grid-row: 5 / 6;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newstext {
        width: 360px;
        padding-left: 7px;
        font-size: 14px;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: start;
        flex-direction: column;
    }

    .whattowatchtitlediv {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .moviediv {
        background-color: #E3BF05;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .postersize {
        width: 94px;
    }

    .buttonsdiv {
        height: 40px;
        width: 97px;
        display: grid;
        grid-template-columns: 54px 41px;
        grid-template-rows: 19px 19px;
        grid-gap: 2px;
    }
    
    .trailerbutton {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .ratingbutton {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .ratingstar {
        margin-right: 4px;
        width: 12px;
    }
    
    .watchlistbutton {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

/*----------MENU GENERAL----------*/

.menuheaderdiv {
    background-color: #E3BF05;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: -5px;
}

.menuheaderheading {
    font-family: Inter;
    font-size: 32px;
}

.menulinklist {
    color: white;
    list-style-type: none;
    list-style-position: outside;
    justify-content: left;
    padding-left: 0px;
}

.menulinklist li {
    margin-top: 6px;
}

.menulinklist a {
    display: inline;
}

.menulinklist a:link {
    color: white;
    text-decoration: none;
}

.menulinklist a:visited {
    color: white;
}

.menulinklist a:hover {
    color: white;
    text-decoration: underline;
}

.menulinklist a:active {
    color: white;
}

/*----------MENU DESKTOP----------*/

@media (min-width: 1000px) {
    .menumaindiv {
        display: grid;
        grid-template-columns: 307px 307px;
        grid-template-rows: 186px 52px 160px 160px 22px 98px 37px;
        grid-column-gap: 154px;
        grid-row-gap: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .menutrendingdiv {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .menuawardseventsdiv {
        grid-column: 1 / 2;
        grid-row: 3 / 6;
    }

    .menucommunitydiv {
        grid-column: 1 / 2;
        grid-row: 6 / 8;
    }

    .menuwatchdiv {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .menumoviesdiv {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }

    .menutvshowsdiv {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .menucelebsdiv {
        grid-column: 2 / 3;
        grid-row: 5 / 7;
    }
}

/*----------MENU MOBILE----------*/

@media (max-width: 999px) {
    .menumaindiv {
        display: grid;
        grid-template-columns: 307px;
        grid-template-rows: 238px 342px 135px 186px 212px 160px 150px;
        grid-row-gap: 0px;
        margin-top: 30px;
    }

    .menutrendingdiv {
        grid-row: 1 / 2;
    }

    .menuawardseventsdiv {
        grid-row: 2 / 3;
    }

    .menucommunitydiv {
        grid-row: 3 / 4;
    }

    .menuwatchdiv {
        grid-row: 4 / 5;
    }

    .menumoviesdiv {
        grid-row: 5 / 6;
    }

    .menutvshowsdiv {
        grid-row: 6 / 7;
    }

    .menucelebsdiv {
        grid-row: 7 / 8;
    }
}

/*----------TOP 250 GENERAL----------*/

.titledivundertitle {
    font-family: Inter;
    font-size: 14px;
    margin: 0px;
}

.top250table1 a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------TOP 250 DESKTOP----------*/

@media (min-width: 1000px) {
    .top250maindiv {
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 654px 279px;
        grid-template-rows: 70px 235px 477px;
        grid-gap: 7px;
    }

    .top250titlediv {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background-color: #E3BF05;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top250titlediv h1 {
        font-family: Inter;
        font-size: 36px;
        margin: 0px;
    }

    .top250moviestable {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        border-collapse: collapse;
    }

    .top250moviestable tr {
        height: 114px;
        background-color: #E3BF05;
        border-bottom: 7px solid #323030;
        display: flex;
        align-items: center;
    }

    .top250table1 {
        width: 81px;
    }

    .top250table2 {
        width: 420px;
        font-weight: bold;
        font-size: 14px;
        margin-left: 10px;
    }

    .top250chartsdiv {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: #E3BF05;
    }

    .top250genresdiv {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background-color: #E3BF05;
    }

    .top250sideheader {
        font-size: 18px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .top250sidelist {
        list-style-type: none;
        list-style-position: outside;
        justify-content: left;
        padding-left: 0px;
        margin-left: 10px;
    }

    .top250sidelist li {
        font-family: Inter;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 4px;
    }
}

/*----------TOP 250 MOBILE----------*/

@media (max-width: 999px) {
    .top250maindiv {
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 126px 229px;
        grid-template-rows: 70px 27px 622px;
        grid-gap: 13px;
    }

    .top250titlediv {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background-color: #E3BF05;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top250titlediv h1 {
        font-family: Inter;
        font-size: 24px;
        margin: 0px;
    }

    .top250moviestable {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        border-collapse: collapse;
    }

    .top250moviestable tr {
        height: 114px;
        background-color: #E3BF05;
        border-bottom: 13px solid #323030;
        display: flex;
        align-items: center;
    }

    .top250table1 {
        width: 81px;
    }

    .top250table2 {
        width: 165px;
        font-weight: bold;
        font-size: 12px;
        margin-left: 10px;
    }

    .top250chartsdiv {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .top250genresdiv {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: #E3BF05;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .top250sideheader {
        font-size: 16px;
        margin: 0px;
    }

    .top250sidelist {
        height: 0px;
        overflow: hidden;
        margin: 0px;
    }

    .top250sidelist li {
        font-family: Inter;
        font-weight: bold;
        font-size: 0px;
        margin-bottom: 0px;
    }
}

/*----------MOVIE GENERAL----------*/

.moviemain {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----------MOVIE DESKTOP----------*/

@media (min-width: 1000px) {
    .movietitlediv {
        background-color: #E3BF05;
        width: 940px;
        height: 70px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .movietitleheader {
        font-size: 36px;
        margin-left: 10px;
    }

    .moviemediadiv {
        margin-top: 9px;
        background-color: #E3BF05;
        width: 940px;
        height: 383px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .moviemediaposter {
        border: 1px solid black;
    }

    .moviemediatrailer {
        margin-left: 8px;
        border: 1px solid black;
        height: 369px;
    }

    .movieinfodiv {
        margin-top: 9px;
        background-color: #E3BF05;
        width: 940px;
    }

    .synopsisheader {
        margin-left: 10px;
        margin-right: 10px;
    }

    .synopsisparagraph {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*----------MOVIE MOBILE----------*/

@media (max-width: 999px) {
    .movietitlediv {
        background-color: #E3BF05;
        width: 368px;
        height: 70px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .movietitleheader {
        font-size: 22px;
        margin-left: 10px;
    }

    .moviemediadiv {
        margin-top: 9px;
        background-color: #E3BF05;
        width: 368px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .moviemediaposter {
        border: 1px solid black;
        height: 141px;
        margin: 5px;
    }

    .moviemediatrailer {
        margin-right: 5px;
        border: 1px solid black;
        height: 141px;
    }

    .movieinfodiv {
        margin-top: 9px;
        background-color: #E3BF05;
        width: 368px;
    }

    .synopsisheader {
        margin-left: 10px;
        margin-right: 10px;
    }

    .synopsisparagraph {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.logindiv {
    background-color: #E3BF05;
    margin-top: 10vh;
    width: 368px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logintitle {
    font-size: 36px;
    margin: 4px;
}

.loginbar {
    margin-top: 10px;
}

.loginbuttondiv {
    display: flex;
    flex-direction: row;
}